*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
#navbar{
    background: linear-gradient(90deg, rgba(7,57,152,1) 0%, rgba(0,219,255,0.9837184873949579) 100%);
    padding: 30px;
    margin-bottom: 20px;

    
}
#navbar a{
    color: white;
    font-size: 25px;
    text-decoration: none;
    padding-right:30px ;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-transform: uppercase;
    font-weight: 600;
    transition: all 0.5s;
    
}

form{
    margin: 15px;
}



.image-box h2,h3{
    text-align: center;
    width: 350px;
    margin: auto;
    padding: 10px 0px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: 700;
   
}

#parent{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 15px;

}
#parent div img{
    object-fit: cover;
    background-size: cover;
    margin: auto;
    width: 300px;
}
#parent .image-box{
    background-color:rgba(163, 163, 163, 0.159);
    border: 1px solid black;
    /* margin: auto; */
    border-radius: 15px;
    height: 500px;
}
 button{
    display: block;
    margin: auto;
    padding:8px 30px;
    border-radius: 8px;
    border: none;
    background-color: cornflowerblue;
    color: white;
    border: 1px solid rgba(23, 23, 23, 0.44);  
    text-transform: uppercase;
    font-weight: 500;
}
